td{
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 100px;
}

table{
    position: relative;
    left: 25%;
}

.one{   
    border-bottom: 2px solid;
    border-right: 2px solid;   
}

.dois{   
    border-right: 2px solid;   
}

.tres{   
    border-bottom: 2px solid;   
}

#risco{

    border: 8px solid red;
    position: absolute;
    width: 800px;
    top: 350px;
    left: 220px;
    display: none;
} 

button{
    width: 110px;
    border-radius: 15px;
    font-weight: bolder;
}







